<app-header></app-header>
<section class="section">
  <button class="button is-info is-outlined" (click)="togglebutton()">Add Notes</button>
  <div class="modal" [ngClass]="status ? 'is-active' : ''">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
        <p class="modal-card-title">Add Your Notes</p>
        <button class="delete" aria-label="close" (click)="togglebutton()"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <label class="label">Judul</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Text input" [(ngModel)]="title">
                </div>
            </div>
            <div class="field">
                <label class="label">Notes</label>
                <div class="control">
                        <textarea class="textarea" placeholder="10 lines of textarea" rows="10" [(ngModel)]="description"></textarea>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
        <button class="button is-success" (click)="saveNotes()">Save changes</button>
        <button class="button" (click)="togglebutton()">Cancel</button>
        </footer>
    </div>
</div>
<div class="modal" [ngClass]="status1 ? 'is-active' : ''">
  <div class="modal-background"></div>
  <div class="modal-card">
      <header class="modal-card-head">
      <p class="modal-card-title">Edit Your Notes</p>
      <button class="delete" aria-label="close" (click)="closebutton()"></button>
      </header>
      <section class="modal-card-body">
          <div class="field">
              <label class="label">Judul</label>
              <div class="control">
                  <input class="input" type="text" placeholder="Text input" [(ngModel)]="title">
              </div>
          </div>
          <div class="field">
              <label class="label">Notes</label>
              <div class="control">
                      <textarea class="textarea" placeholder="10 lines of textarea" rows="10" [(ngModel)]="description"></textarea>
              </div>
          </div>
      </section>
      <footer class="modal-card-foot">
      <button class="button is-success" (click)="editNotes()">Save changes</button>
      <button class="button" (click)="closebutton()">Cancel</button>
      </footer>
  </div>
</div>
<div class="modal" [ngClass]="status2 ? 'is-active' : ''">
  <div class="modal-background"></div>
  <div class="modal-card">
      <header class="modal-card-head">
      <p class="modal-card-title">View Your Notes</p>
      <button class="delete" aria-label="close" (click)="closebutton1()"></button>
      </header>
      <section class="modal-card-body">
          <div class="field">
              <label class="label">Judul</label>
              <div class="control">
                  <input class="input" type="text" placeholder="Text input" [(ngModel)]="title" disabled>
              </div>
          </div>
          <div class="field">
              <label class="label">Notes</label>
              <div class="control">
                      <textarea class="textarea" placeholder="10 lines of textarea" rows="10" [(ngModel)]="description" disabled></textarea>
              </div>
          </div>
      </section>
      <footer class="modal-card-foot">
      <button class="button" (click)="closebutton1()">Cancel</button>
      </footer>
  </div>
</div>
<br>
<br>
<div class="columns is-multiline">
  <div class="column is-full" *ngFor="let message of messages$ | async ; trackBy: trackByFn" >
    <div class="card"  >
      <header class="card-header">
        <p class="card-header-title">
          {{message.title}}
        </p>
        <a href="#" class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </a>
      </header>
      <div class="card-content">
        <div class="content">
            {{ (message.description.length>30)? (message.description | slice:0:30)+'..':(message.description) }}
          <br>
          <time datetime="2016-1-1">{{ message.createdAt | date:'medium' }}    </time>
        </div>
      </div>
      <footer class="card-footer">
        <a (click)="togglebutton1(message)" class="card-footer-item has-background-success has-text-white">Edit</a>
        <a (click)="deleteNotes(message)" class="card-footer-item has-background-danger has-text-white">Delete</a>
        <a (click)="togglebutton2(message)"  class="card-footer-item has-background-info has-text-white">View Detail</a>
      </footer>
    </div>
  </div>
</div>
</section>